
$scale: .3;
$dice-200px: -200px * $scale;
$dice200px: 200px * $scale;
$dice-100px: -100px * $scale;
$dice100px: 100px * $scale;
$dice-400px: -400px * $scale;
$dice-50px: -50px * $scale;
$dice-800px: -800px * $scale;
$dice1200px: 1200px * $scale;
$dice10px: 10px * $scale;
$dice40px: 40px * $scale;
$dice98px: 98px * $scale;
$dice46px: 46px * $scale;
$dice23px: 23px * $scale;
$dice5px: 5px * $scale;
$dice77px: 77px * $scale;
$dice134px: 134px * $scale;
$dice20px: 20px * $scale;


@keyframes spin {
    0% { transform: translateZ($dice-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ($dice-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ($dice-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ($dice-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ($dice-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% { transform: translateZ($dice-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ($dice-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@keyframes spin-duplicate {
    0% { transform: translateZ($dice-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ($dice-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ($dice-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ($dice-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ($dice-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% { transform: translateZ($dice-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ($dice-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}
@keyframes roll {
    0% { transform: translate3d($dice-200px,$dice-50px,$dice-400px) }
    12% { transform: translate3d(0px,0,$dice-100px) }
    25% { transform: translate3d($dice200px,$dice-50px,$dice-400px) }
    37% { transform: translate3d(0px,$dice-100px,$dice-800px) }
    50% { transform: translate3d($dice-200px,$dice-50px,$dice-400px) }
    62% { transform: translate3d(0px,0,$dice-100px) }
    75% { transform: translate3d($dice200px,$dice-50px,$dice-400px) }
    87% { transform: translate3d(0px,$dice-100px,$dice-800px) }
    100% { transform: translate3d($dice-200px,$dice-50px,$dice-400px) }
}
#platform > #dice {
    animation: spin-duplicate 19s infinite linear;
}

#wrapper {
    position: relative;
    width: $dice200px;
    padding-top: $dice100px;
    margin: 0 auto;
    perspective: $dice1200px;
}
#platform {
  margin-top: -11px;
  margin-left: 3px;
}
#dice span {
    position:absolute;
    margin:$dice100px 0 0 $dice100px;
    display: block;
    font-size: 2.5em;
    padding: $dice10px;
}
#dice {
    position: absolute;
    width: $dice200px;
    height: $dice200px;
    transform-style: preserve-3d;
    animation: spin 50s infinite linear;
}
//slight lite blue
div#wrapper.color-1 {
  .side {
    background: #bcd0dc;
    box-shadow:inset 0 0 $dice40px #96bbd2;
  }
}
//orange
div#wrapper.color-2 {
  .side {
    background: #e4af5c;
    box-shadow:inset 0 0 $dice40px #cc8b26;
  }
}
//gray
div#wrapper.color-3 {
  .side {
    background: #afabab;
    box-shadow:inset 0 0 $dice40px #8e8989;
  }
}
//green
div#wrapper.color-4 {
  .side {
    background: #abc799;
    box-shadow:inset 0 0 $dice40px #97c37b;
  }
}
//red
div#wrapper.color-5 {
  .side {
    background: #d8a5a5;
    box-shadow:inset 0 0 $dice40px #ce8888;
  }
}
//white
div#wrapper.color-6 {
  .side {
    background: #dadada;
    box-shadow:inset 0 0 $dice40px #ccc;
  }
}
//yellow
div#wrapper.color-7 {
  .side {
    background: #f5e170;
    box-shadow:inset 0 0 $dice40px #ceba4c;
  }
}
//dark gray purple
div#wrapper.color-8 {
  .side {
    background: #ac9db7;
    box-shadow:inset 0 0 $dice40px #7d7186;
  }
}
//bright lite blue
div#wrapper.color-9 {
  .side {
    background: #86dae8;
    box-shadow:inset 0 0 $dice40px #78beca;
  }
}
//brown
div#wrapper.color-10 {
  .side {
    background: #d2bb9f;
    box-shadow:inset 0 0 $dice40px #c1b8ac;
  }
}

.side {
    position: absolute;
    width: $dice200px;
    height: $dice200px;
    background: #fff;
    box-shadow:inset 0 0 $dice40px #ccc;
    border-radius: $dice40px;
}
#dice .cover, #dice .inner {
    background: #e0e0e0;
    box-shadow: none;
}
#dice .cover {
    border-radius: 0;
    transform: translateZ(0px);
}
#dice .cover.x {
    transform: rotateY(90deg);
}
#dice .cover.z {
    transform: rotateX(90deg);
}
#dice .front  {
    transform: translateZ($dice100px);
}
#dice .front.inner  {
    transform: translateZ($dice98px);
}
#dice .back {
    transform: rotateX(-180deg) translateZ($dice100px);
}
#dice .back.inner {
    transform: rotateX(-180deg) translateZ($dice98px);
}
#dice .right {
    transform: rotateY(90deg) translateZ($dice100px);
}
#dice .right.inner {
    transform: rotateY(90deg) translateZ($dice98px);
}
#dice .left {
    transform: rotateY(-90deg) translateZ($dice100px);
}
#dice .left.inner {
    transform: rotateY(-90deg) translateZ($dice98px);
}
#dice .top {
    transform: rotateX(90deg) translateZ($dice100px);
}
#dice .top.inner {
    transform: rotateX(90deg) translateZ($dice98px);
}
#dice .bottom {
    transform: rotateX(-90deg) translateZ($dice100px);
}
#dice .bottom.inner {
    transform: rotateX(-90deg) translateZ($dice98px);
}
.dot {
    position:absolute;
    width:$dice46px;
    height:$dice46px;
    border-radius:$dice23px;
    background:#444;
    box-shadow:inset $dice5px 0 $dice10px #000;
}
.dot.center {
    margin:$dice77px 0 0 $dice77px;
}
.dot.dtop {
    margin-top:$dice20px;
}
.dot.dleft {
    margin-left:$dice134px;
}
.dot.dright {
    margin-left:$dice20px;
}
.dot.dbottom {
    margin-top:$dice134px;
}
.dot.center.dleft {
    margin:$dice77px 0 0 $dice20px;
}
.dot.center.dright {
    margin:$dice77px 0 0 $dice134px;
}
#background {
	position:fixed;
	z-index:-1;
	width:100%;
	height:100%;
	background: #071a1e;
	background: -moz-linear-gradient(top, #071a1e 0%, #274249 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#071a1e), color-stop(100%,#274249));
	background: -webkit-linear-gradient(top, #071a1e 0%,#274249 100%);
	background: linear-gradient(to bottom, #071a1e 0%,#274249 100%);
}
